{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

<div class="hero py-20 bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Problemset</h1>
      <p class="py-6">
        Our platform provides a variety of questions sourced from us and other
        popular events, allowing you to practice and hone your skills in a fun
        and engaging way. Whether you're a beginner or an experienced cryptic
        hunter, our selection of puzzles is sure to challenge and entertain you.
      </p>
    </div>
  </div>
</div>

<div
  class="grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] gap-12 px-[12%] pb-[7.5%]"
>
  {% for i in problems %}

  <a href="{% url 'problem' i.id %}">
    <div
      class="card w-100 h-52 bg-base-200 shadow-xl shadow-black/60 border-white-200"
    >
      {% if i in user.question_solved.all %}
      <span class="indicator-item badge badge-success absolute -top-2 -right-4">Completed</span>
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{i.name}}</h2>
        {% if i.from_event %}
        <p class="text-xs italic">~{{i.event_name}}</p>
        {% else %}
        <p class="text-xs italic">~cryptforces</p>
        {% endif %}
        <h3>Points: {{i.points}}</h3>
        {% comment %}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        {% endcomment %}

        <div class="card-actions justify-end">
          <div
            class="badge {% if i.difficulty == 'Easy' %}badge-success{% elif i.difficulty == 'Medium' %}badge-warning{% else %}badge-error{% endif %}"
          >
            {{i.difficulty}}
          </div>
          {% for j in i.tags.all %}
          <div class="badge badge-outline">{{j.name}}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </a>

  {% endfor %}
</div>

<script src="" async defer></script>
{% endblock content %}
