{% extends "base.html" %} {% block content %} {% for i in problems %}

<div class="cards">
  <a class="card" href="https://cryptforces.vercel.app/problems/1">
    <h2>Level 0</h2>
  </a>
  <a class="card" href="https://cryptforces.vercel.app/problems/1">
    <h2>Level 1</h2>
  </a>
  <a class="card" href="https://cryptforces.vercel.app/problems/1">
    <h2>Level 2</h2>
  </a>
  <a class="card" href="https://cryptforces.vercel.app/problems/1">
    <h2>Level 3</h2>
  </a>
  <a class="card" href="https://cryptforces.vercel.app/problems/1">
    <h2>Level 4</h2>
  </a>
  <a class="card" href="https://cryptforces.vercel.app/problems/1">
    <h2>Level 5</h2>
  </a>
  <a class="card" href="https://cryptforces.vercel.app/problems/1">
    <h2>Level 6</h2>
  </a>
</div>

<a href="{% url 'problem' i.id %}">
  <div class="problem">
    <h1>HELLO</h1>
    <h2>{{i.name}}</h2>
    <p>{{i.question_text}}</p>
  </div>
</a>
{% endfor %}

<script src="" async defer></script>
{% endblock content %}
