{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

<div class="hero py-20 bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Problemset</h1>
      <p class="py-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nemo
        quisquam saepe, praesentium veniam alias. Officiis, rem? Dolor hic
        repudiandae nisi iusto, nihil labore molestiae! Sint aperiam, eligendi,
        quia maiores similique harum voluptatem tempore nesciunt earum eveniet,
        eaque accusamus illum.
      </p>
    </div>
  </div>
</div>

<div
  class="grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] gap-12 px-[25%] pb-[7.5%]"
>
  {% for i in problems %}

  <a href="{% url 'problem' i.id %}">
    <div
      class="card w-100 h-52 bg-base-100 shadow-xl shadow-black/60 border-white-200"
    >
      <div class="card-body">
        <h2 class="card-title">{{i.name}}</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">Easy</div>
          <div class="badge badge-outline">Steganography</div>
        </div>
      </div>
    </div>
  </a>

  {% endfor %}
</div>

<script src="" async defer></script>
{% endblock content %}
