{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
<main>
  <!-- <section class="padding-block-900">
    <div class="container">
      <div class="even-columns">
        <div class="flow">
          <h1 class="fs-primary-heading fw-bold">
            A platform that helps people learn cryptic hunting.
          </h1>
          <p>
            Our platform provides resourcesto to individuals and enables
            organizations to host their own hunts, which involve deciphering
            codes and clues to solve puzzle-solving challenges.
          </p>
          <button class="button">Get Started</button>
        </div>
        <div>
          <img src="https://i.imgur.com/JM4so8i.png" alt="" />
        </div>
      </div>
    </div>
  </section> -->

  <div class="hero min-h-screen bg-base-100">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://i.imgur.com/JM4so8i.png" class="max-w-xl rounded-lg" />
      <div>
        <h1 class="text-5xl font-bold">
          A platform that helps people learn cryptic hunting.
        </h1>
        <p class="py-6">
          Our platform provides resourcesto to individuals and enables
          organizations to host their own hunts, which involve deciphering codes
          and clues to solve puzzle-solving challenges.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
