{% extends "base.html" %} {% block content %}
<main>
  <section class="padding-block-900">
    <div class="container">
      <div class="even-columns">
        <div class="flow">
          <h1 class="fs-primary-heading fw-bold">
            A platform that helps people learn cryptic hunting.
          </h1>
          <p>
            We aim to create a platform similar to leetcode that helps you learn
            cryptic hunting and others to host their own cryptic hunts.
          </p>
          <button class="button">Get Started</button>
        </div>
        <div>
          <img
            src="https://raw.githubusercontent.com/nishitjain1726/cryptforces-frontend/main/images/250.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <section class="padding-block-900">
    <div class="container">
      <div class="even-columns">
        <div
          class="flow text-center-sm-only margi"
          style="--flow-spacer: 1.5rem"
        >
          <h2 class="fs-secondary-heading fw-bold">
            What do we provide at cryptforces?
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            nisi obcaecati, similique nemo nam corrupti vitae pariatur vero
            maxime rem!
          </p>
        </div>
        <div>
          <ul class="numbered-items | flow" role="list">
            <li>
              <div class="flow" style="--flow-spacer: 1em; z-index: -1">
                <h3 class="numbered-items__title | fs-600 fw-bold">
                  Lorem ipsum dolor sit amet.
                </h3>
                <p class="numbered-items__body" data-width="wide">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Recusandae tenetur deleniti blanditiis ullam inventore,
                  dolores reprehenderit at voluptatibus magnam totam!
                </p>
              </div>
            </li>
            <li>
              <div class="flow" style="--flow-spacer: 1em; z-index: -1">
                <h3 class="numbered-items__title | fs-600 fw-bold">
                  Lorem ipsum dolor sit amet.
                </h3>
                <p class="numbered-items__body" data-width="wide">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum minus illo consequatur voluptatem suscipit voluptas
                  incidunt recusandae, laboriosam esse nulla.
                </p>
              </div>
            </li>
            <li>
              <div class="flow" style="--flow-spacer: 1em; z-index: -1">
                <h3 class="numbered-items__title | fs-600 fw-bold">
                  Lorem ipsum dolor sit amet.
                </h3>
                <p class="numbered-items__body" data-width="wide">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Similique repudiandae corporis expedita aliquam dolorum enim,
                  assumenda non laudantium ducimus beatae.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
