{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
<!-- <section class="section-one">
  <div class="section-text">
    <div class="title">{{problem.name}}</div>
    <div class="lvltxt" style="font-size: 2rem">{{problem.question_text}}</div>
    <form method="POST">
      {% csrf_token %}
      <input
        style="color: black; width: 20rem"
        class="form-input"
        placeholder="Answer"
        type="text"
        name="answer"
        id="answer"
        autocomplete="off"
      />
      <input class="submit-btn" type="submit" value="Submit" />
      <center>
        <div class="toast toast-center bottom-72 transition-all ease-in-out">
          {% if toast == 'Correct' %}
          <div id="snackbar">Correct</div>

          {% elif toast == 'Incorrect' %}
          <div id="snackbar">Incorrect</div>
          {% endif %}
        </div>
      </center>
    </form>
  </div>
</section> -->

<div class="hero min-h-screen bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-7xl font-bold">{{problem.name}}</h1>
      <p class="text-3xl pt-14 pb-10">{{problem.question_text}}</p>
      <form method="POST">
        {% csrf_token %}
        <div class="input-group">
          <input
            class="input input-bordered w-full max-w-xs"
            placeholder="Answer"
            type="text"
            name="answer"
            id="answer"
            autocomplete="off"
          />
          <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
        <center class="pt-10">
          {% if toast == 'Correct' %}
          <div id="snackbar">
            <div class="alert alert-success shadow-lg">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="stroke-current flex-shrink-0 h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
                <span>Correct Answer</span>
              </div>
            </div>
          </div>

          {% elif toast == 'Incorrect' %}
          <div id="snackbar">
            <div class="alert alert-error shadow-lg">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="stroke-current flex-shrink-0 h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
                <span>Incorrect Answer!</span>
              </div>
            </div>
          </div>
          {% endif %}
        </center>
      </form>
    </div>
  </div>
</div>

<script>
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function () {
    x.remove();
  }, 2000);
</script>

<center>
  <div id="disqus_thread" style="width: 50%; color: black"></div>
</center>
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

  var disqus_config = function () {
    this.page.url = "{{ request.build_absolute_uri }}"; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "/p{{problem.id}}/"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    this.page.title = "{{problem.name}}";
  };

  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://cryptforces.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
>

{% endblock content %}
