{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'problem.css' %}" />
<section class="section-one">
  <div class="section-text">
    <div class="title">{{problem.name}}</div>
    <div class="lvltxt" style="font-size: 2rem">{{problem.question_text}}</div>
    <form method="POST">
      {% csrf_token %}
      <input
        style="color: black; width: 20rem"
        class="form-input"
        placeholder="Answer"
        type="text"
        name="answer"
        id="answer"
        autocomplete="off"
      />
      <input class="submit-btn" type="submit" value="Submit" />
    </form>
  </div>
</section>
<div class="toast toast-center bottom-72 transition-all ease-in-out">
  {% if toast == 'Correct' %}
  <div class="alert alert-success">
    <div>
      <span>Correct</span>
    </div>
  </div>
  {% elif toast == 'Incorrect' %}
  <div class="alert alert-error">
    <div>
      <span>Incorrect</span>
    </div>
  </div>
  {% endif %}
</div>
<script>
  const toast = document.querySelector(".toast");
  setTimeout(() => {
    toast.classList.add("hidden");
  }, 2000);
</script>
{% endblock content %}
