{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'problem.css' %}" />
<section class="section-one">
  <div class="section-text">
    <div class="title">{{problem.name}}</div>
    <div class="lvltxt" style="font-size: 1.5rem">
      {{problem.question_text}}
    </div>
    <form method="POST">
      {% csrf_token %}
      <input
        style="color: white; width: 20rem"
        class="form-input"
        placeholder="Answer"
        type="text"
        name="answer"
        id="answer"
        autocomplete="off"
      />
      <input type="submit" value="Submit" />
    </form>
  </div>
</section>
<script src="" async defer></script>
{% endblock content %}
